/* Pdp Styles */
.swogo-container {
    clear: both;
}

.swogo-bundle,
.swogo-main {
    position: relative;
}

.swogo-bundle {
    /* margin: 20px 0; */
    border: 0;
    border-bottom: 1px dotted #d3d3d3;
    padding-bottom: 5px;
}

.swogo-host,
.swogo-accessory,
.swogo-alternative,
.swogo-option,
.swogo-summary {
    width: 20%;
    padding: 0 10px;
    position: relative;
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
}

.swogo-summary {
    bottom: 0;
    right: 0;
    position: absolute;
    padding-bottom: 8px;
}

.swogo-line-throug {
    color: #d85f4b;
    text-decoration: line-through;
}

.swogo-accessory .swogo-product-images-container:before { /* Change to .swogo-accessory:before and left:0 to align with accessory instead of image */
    top: 50%;
    left: -10px;
    content: "+";
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-weight: bold;
}

.swogo-container .swogo-product-images-container {
    height: 120px;
    position: relative;
    margin-bottom: 0;
}

.swogo-product-image {
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.swogo-title,
.swogo-more-bundles,
.swogo-button-add-to-cart,
.swogo-button-alternatives,
.swogo-button-select-alternative {
    cursor: pointer;
}

.swogo-container-pdp .swogo-host .swogo-product-images-container, .swogo-container-pdp .swogo-host .swogo-title {
    cursor: unset;
}

.swogo-button-alternatives {
    text-align: center;
    color: #005c9c;
    padding: 5px;
    cursor: pointer;
    border: 1px solid transparent;
    font-weight: bold;
    text-decoration: underline;
}

.swogo-button-alternatives.swogo-enable {
    border: #d3d3d3 1px solid;
    border-bottom: white 2px solid;
    margin-bottom: -1px;
}

.swogo-button-alternatives::after {
    padding: 3px;
    margin: 0 0 2px 5px;
    display: inline-block;
    transform: rotate(45deg);
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}

.swogo-button-select-alternative {
    text-align: center;
    cursor: pointer;
    height: 30px;
    line-height: 29px;
    padding: 0;
    background: #d00b1c;
    color: white;
    font-size: 12px;
    margin: 5px 0 0;
    text-decoration: none;
}

.swogo-selected .swogo-button-select-alternative {
    color: #3c3c3c;
    background: #f0f0f0;
}

.swogo-button-select-alternative .swogo-select-text {
    display: block;
}

.swogo-button-select-alternative .swogo-selected-text {
    display: none;
}

.swogo-selected .swogo-button-select-alternative .swogo-select-text {
    display: none;
}

.swogo-selected .swogo-button-select-alternative .swogo-selected-text {
    display: block;
}

.swogo-enable.swogo-button-alternatives::after {
    margin: 0 0 -2px 5px;
    transform: rotate(-135deg);
}

.swogo-alternatives-box.swogo-enable {
    border: #d3d3d3 1px solid;
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
}

.swogo-buttons-container {
    text-align: right;
}

.swogo-summary .swogo-button-add-to-cart {
    /* text-align: right; */
    background: linear-gradient(to bottom, #df1f1f 0, #c01b1b 100%);
    color: white;
    font-size: 14px;
    padding: 3px 29px;
    display: inline-block;
    border-radius: 3px;
}

.swogo-more-bundles {
    width: 150px;
    color: #fff;
    padding: 5px;
    margin: 0 auto;
    background: linear-gradient(to bottom, #55d800 0, #338100 100%);
    text-align: center;
    border-radius: 0 0 4px 4px;
}

.swogo-more-bundles:hover {
    opacity: 0.9;
}

.swogo-more-close, .swogo-more-open {
    pointer-events: none;
}

.swogo-more-bundles .swogo-more-close {
    display: none;
}

.swogo-more-bundles.swogo-action-close .swogo-more-close {
    display: block;
}

.swogo-more-bundles.swogo-action-close .swogo-more-open {
    display: none;
}

.swogo-more-bundles.swogo-action-close:before {

}

.swogo-loader {
    top: 27%;
    left: calc(50% - 120px / 2); /* to center horizontally */
    z-index: 1;
    width: 120px;
    height: 120px;
    position: absolute;
    border-radius: 50%;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.swogo-container {
    padding-top: 5px;
}

.swogo-container-title {
    color: #3c3c3c;
    font-weight: bold;
    font-size: 15px;
    margin: 20px 0 0;
    background: #f0f0f0;
    padding: 4px 0 4px 10px;
}

.swogo-container a {
    text-decoration: none !important;
}

.swogo-title {
    color: #337ab7;
    font-weight: bold;
    font-size: 12px;
    height: 16px; /*line height isn't exactly the font size*/
    overflow: hidden;
}

.swogo-price {
    font-size: 13px;
    margin: 5px 0 0;
    font-weight: bold;
    text-align: right;
    color: #d00b1c;
    border-top: 1px dotted #d3d3d3;
    padding: 5px 0 0;
}

.swogo-summary .swogo-price {
    border-top: none;
    font-size: 22px;
}

/* Pdp Styles End */
/* Mobile Pdp Styles */

.swogo-container-mobilePdp .swogo-container-title {
    font-size: 18px;
    line-height: 30px;
    color: #33313f;
    padding-left: 0;
    background: none;
    margin: 0;
    padding-bottom: 0;
}

.swogo-container-mobilePdp .swogo-host,
.swogo-container-mobilePdp .swogo-accessory,
.swogo-container-mobilePdp .swogo-alternative {
    width: 33%;
}

.swogo-container-mobilePdp .swogo-product-images-container {
    height: 75px;
    float: none !important;
}

.swogo-container-mobilePdp .swogo-accessory .swogo-product-images-container:before {
    font-weight: normal;
}

.swogo-container-mobilePdp .swogo-summary {
    position: static;
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 4px;
    padding-bottom: 4px;
    border-top: 1px dotted #d3d3d3;
}

.swogo-container-mobilePdp .swogo-summary .swogo-price {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 30px;
}

.swogo-container-mobilePdp .swogo-summary .swogo-buttons-container {
    display: inline-block;
    width: 50%;
    padding: 0 0 0 11px;
}

.swogo-container-mobilePdp .swogo-summary .swogo-button-add-to-cart {
    display: block;
    text-align: center;
    padding: 5px;
}

.swogo-container-mobilePdp .swogo-button-alternatives {
    font-size: 11px;
}

.swogo-container-mobilePdp .swogo-bundle {
    padding-top: 5px;
}

/* Mobile Pdp Styles End */

/* Basket Styles */

/* Page styles here.... */

/* Basket Styles End*/


